{%- if not nav_item.children %}
    <li>
        <a href="{{ nav_item.url|url }}" class="dropdown-item{% if nav_item.active %} active{% endif %}">
          {%- if nav_item.meta.short_title %}
            {{nav_item.meta.short_title}}
          {%-else%}
            {{ nav_item.title }}
          {%-endif%}
        </a>
    </li>
{%- else %}
  {%- if nav_item.title != "Undone" %}
    <li class="dropdown-submenu">
      <a href="#" class="dropdown-item">
        {%- if nav_item.meta %}
          {%- if nav_item.meta.short_title %}
            {{nav_item.meta.short_title}}
          {%-endif%}
        {%- else %}
          {{ nav_item.title }}
        {%-endif%}
      </a>
      <ul class="dropdown-menu">
          {%- for nav_item in nav_item.children %}
              {% include "nav-sub.html" %}
          {%- endfor %}
          
      </ul>
    </li>
  {%- endif %}
{%- endif %}
